.filter-checkbox:checked + label {
  background-color: #4f46e5;
  color: white;
}

.filter-checkbox {
  position: absolute;
  opacity: 0;
}

.filter-label {
  transition: all 0.2s ease-in-out;
  border: transparent solid 2px;
}

.filter-label:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #4f46e5 solid 2px;
}

.images {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.images:hover {
  transform: translateY(-5px);
}

.download-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(0, 0, 0);
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

.download-icon:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .images {
    height: auto;
  }

  .modal-container {
    max-width: 95%;
    margin: 0 10px;
  }
}
